<div class="container">
 
    <h3>Create Todo Record</h3>
    <div class="container">
        <div class="form-group">
            <label for="Title">Title</label>
            <input type="text" class="form-control" id="title" [(ngModel)]="data.title" placeholder="Enter Title">
        </div>
        <div class="form-group">
            <label for="Description">Description</label>
            <input type="text" class="form-control" id="description" [(ngModel)]="data.description" placeholder="Enter description">
        </div>
        <div class="form-group">
            <label for="dueDate">Due datetime</label>
            <input type="datetime-local" class="form-control" id="dueDate" [(ngModel)]="data.dueDate" placeholder="Enter dueDate">
        </div>
        <button type="submit" class="btn btn-primary" (click)="submitForm()">Add</button> 
        <button type="button" class="btn btn-warning btn-sm" [routerLink]="[ '/list']">List</button>
    </div>  
 