<div class="container">
    <h3>List All Todos</h3>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Title</th>
          <th scope="col">Description</th>
          <th scope="col">Due Date Time</th>
          <th scope="col">Complete</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of TodosData">
          <td>{{item.id}}</td>
          <td>{{item.title}}</td>
          <td>{{item.description}}</td>
          <td>{{item.dueDate}}</td>
          <td>{{item.Complete}}</td>
          <td style="display: flex">
            <button type="button" class="btn btn-success btn-sm" [routerLink]="[ '/item',item.id]">Details</button>
              <button type="button" class="btn btn-warning btn-sm" [routerLink]="[ '/edit',item.id]">Edit</button>
              <button type="button" class="btn btn-danger btn-sm ml-1" (click)="delete(item)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
   
    <button type="button" class="btn btn-success" [routerLink]="[ '/create']">Add Todo</button>
  </div>